@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 120px;
    width: 100%;
    background: #1671d2;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#titulo {
    width: 30%;
    font-size: 30px;
    float: center;
    padding-top: 35px;
}

#titulo h1 {
    display: block;
    float: center;
    height: 60px;
    margin-top: -9px;
    margin-right: -10px;
    color: white;
}

#slider {
    width: 100%;
    height: 700px;
    color: white;
    text-shadow: 0px 0px 5px #444;
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btncrear {
    display: block;
    float: right;
    margin-bottom: 40px;
    margin-right: 40px;
    background: #1671d2;
    color: white;
    padding: 5px;
    width: 80px;
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    margin-top: 40px;
    border-radius: 18px;
    transition: 300ms all;
}

.btncrear:hover {
    background: #444;
    color: white;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

.btn {
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 500px;
    transition: 300ms all;
    border: #444;
    cursor: pointer;
}

.btn-success {
    background: #1671d2;
}

.btn-success:hover {
    background: black;
}

.mid-form {
    width: 50%;
    margin: 0px auto;
}

.mid-form mat-label {
    display: block;
    float: left;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0px 0px 5px #eee inset;
}

textarea {
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}

.radibuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p {
    margin: 0px;
    padding: 0px;
}

.subheader {
    font-size: 38px;
    margin-top: 35px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#mapCanvas {
    height: 100%;
    width: 100%;
}